* {
    padding: 0px;
    margin: 0px;
}

#section1 {
    background-image: url("/img/cover-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    height: 100vh;
    width: 100%;
}

#section1 .wrapper {

    display: flex;
}

#section1 .wrapper div {
    width: 400px;
    margin-left: 15vw;
    margin-top: 25vh;

    
}

#section2 .wrapper {
    background-image: url("/img/a-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.h1-white {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #FFF;
    font-size: 82px;
    text-align: center;
    text-shadow: 0px 15px rgba(255,255,255,0.12);
}



.p-white {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFF;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 20px;
}